
.normal {
  background: #F2F079;
}
.wrapForm {
  max-width: 400px;
  position: absolute;
  left: 30%;
  top: 20%;
}
.loginFormForgot {
  float: right;
}
.loginFormButton {
  width: 100%;
}
.resBut{
  margin-right: 30px;
}